@import "./normalize.module";
@import "./variables.module";

html,
body {
  font-family: "Nunito", sans-serif;
  background-color: $baseColor;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "NunitoBold", sans-serif;
}
